minimum-contrast = 3
command = {{ .brew.prefix }}/bin/fish
macos-option-as-alt=left
cursor-click-to-move=true
font-family="IBM Plex Mono"
window-height=25
window-width=80
copy-on-select=true
keybind = super+t=unbind
keybind = super+d=unbind
keybind = super+shift+d=unbind
keybind = super+alt+shift+w=unbind
keybind = super+shift+w=unbind
keybind = super+q=unbind
keybind = super+w=unbind
keybind = super+alt+right=unbind
keybind = super+alt+down=unbind
keybind = super+alt+left=unbind
keybind = super+alt+up=unbind
keybind = super+ctrl+equal=unbind
keybind = super+ctrl+down=unbind
keybind = super+ctrl+left=unbind
keybind = super+ctrl+up=unbind
keybind = super+ctrl+f=unbind
keybind = super+ctrl+right=unbind
keybind = ctrl+tab=unbind
keybind = super+physical:four=unbind
keybind = super+shift+left_bracket=unbind
keybind = super+physical:eight=unbind
keybind = super+shift+right_bracket=unbind
keybind = super+physical:one=unbind
keybind = super+physical:three=unbind
keybind = super+comma=unbind
keybind = ctrl+tab=unbind
keybind = super+shift+enter=unbind
keybind = ctrl+shift+tab=unbind
keybind = super+left_bracket=unbind
keybind = super+physical:nine=unbind
keybind = super+right_bracket=unbind
keybind = super+physical:five=unbind
keybind = super+physical:seven=unbind
keybind = super+physical:two=unbind
keybind = super+physical:six=unbind

